html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;

  position: relative;
  padding: 3em;
}

.robot {
  width: 320px;
}

.robot-body {
  width: 320px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.robot-brain {
  width: 46px;

  position: absolute;
  top: 4.3em;
  left: 50%;
  transform: translateX(-50%);
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-body:hover {

  .robot-head-right {
    background-color: black;
    display: none;
  }

  display: none;

}
